
<div class="searchpage">
    <div ng-controller = "searchControl">
      <form action="">
        <input class="m-auto" type="search" ng-model= "searchText"  placeholder="Search" aria-label="Search">
          <button  type="button" class=" ">Search</button>
      </form>
      <div class="row">
        <div class="col-sm-3">
          <section style="margin-top: 30px" class="sticky-top">
            <div class="filterForm">
              <h1 style="text-align:center">FILTER</h1>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Application
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideApp" role="button"> +
                  </a>
                </div>
              </div>
              <div id="showHideApp" class="panel-collapse collapse">
                <ul class="list-group">
                  <div ng-repeat = "appli in tbApplication | orderBy">
                    <input type="checkbox" ng-model="checkAppli[$index]"> {{appli}}
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Finish
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideFinish" role="button">
                    +
                  </a>
                </div>
              </div>
              <div id="showHideFinish" class="panel-collapse collapse">
                <ul class="list-group">
                  <div ng-repeat = "finish in tbFinish | orderBy">
                    <input type="checkbox" ng-model="checkFinish[$index]"> {{finish}}
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Design Variation
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideDesign" role="button">
                    +
                  </a>
              </div>
              </div>
              <div id="showHideDesign" class="panel-collapse collapse">
                <ul class="list-group">
                  <div ng-repeat = "design in tbDesign | orderBy">
                    <input type="checkbox" ng-model="checkDesign[$index]"> {{design}}
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Size
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideSize" role="button">
                    +
                  </a>
              </div>
              </div>
              <div id="showHideSize" class="panel-collapse collapse">
                <ul class="list-group">
                  <div ng-repeat = "size in tbSize | orderBy">
                    <input type="checkbox" ng-model="checkSize[$index]"> {{size}}
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-8">
                  <a class="btn" ng-click="ApplyFilter()">Apply</a>
                </div>
                <div class="col-sm-4">
                  <a class="btn" ng-click="ClearFilter()">Reset</a>
                </div>
              </div>




              </div>
                </section>
          
        </div>
        <div class="col-sm-9">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
              <div class="card h-100" ng-repeat="f in list | filter: searchText">
                  <img src="image/products/{{f.Id.slice(0,4)}}{{f.Name}}.jpg" class="card-img-top" alt="...">
                  <div class="card-body ">
                    <h5 class="card-title">{{f.Name}} </h5>
                    <p class="card-text">{{f.Size}}</p>
                    <p class="card-text">$ {{f.Price}} /&#13217</p>
                  </div>
                  <div class="card-footer ">
                    <small class="">Last updated 3 mins ago</small>
                  </div>
                </div>
        
          </div>  
        </div>
      </div>
    </div>
</div>