
<div class="searchpage">
    <div ng-controller = "searchControl">
      <form action="">
        <input class="m-auto" type="search" ng-model= "search"  placeholder="Search" aria-label="Search">
          <button  type="button" class=" ">Search</button>
      </form>
      <div class="row">
        <div class="col-sm-3">
          <section style="margin-top: 30px" class="sticky-top">
            <div class="filterForm">
              <h1 style="text-align:center">FILTER</h1>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Application
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideApp" role="button"> +
                  </a>
                </div>
              </div>
              <div id="showHideApp" class="panel-collapse collapse">
                <ul class="list-group">
                  <div>
                    <input type="checkbox" ng-model="application.wallTiles" ng-true-value="2." ng-false-value=""> Wall Tiles
                  </div>
                  <div>
                    <input type="checkbox" ng-model="application.floorTiles"> Floor Tiles
                  </div>
                  <div>
                    <input type="checkbox" ng-model="application.special"> Special Tiles
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Finish
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideFinish" role="button">
                    +
                  </a>
                </div>
              </div>
              <div id="showHideFinish" class="panel-collapse collapse">
                <ul class="list-group">
                  <div>
                    <input type="checkbox" ng-model="finish.glossy"> Gloss
                  </div>
                  <div>
                    <input type="checkbox" ng-model="finish.polish"> Polish
                  </div>
                  <div>
                    <input type="checkbox" ng-model="finish.matt"> Matt
                  </div>
                  <div>
                    <input type="checkbox" ng-model="finish.satin"> Satin
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Design Variation
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideDesign" role="button">
                    +
                  </a>
              </div>
              </div>
              <div id="showHideDesign" class="panel-collapse collapse">
                <ul class="list-group">
                  <div>
                    <input type="checkbox" ng-model="application.single"> Single
                  </div>
                  <div>
                    <input type="checkbox" ng-model="application.random"> Random
                  </div>
                </ul>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-9">
                  Size
                </div>
                <div class="col-sm-3">
                  <a class="btn" data-bs-toggle="collapse" href="#showHideSize" role="button">
                    +
                  </a>
              </div>
              </div>
              <div id="showHideSize" class="panel-collapse collapse">
                <ul class="list-group">
                  <div ng-repeat = "size in tbSize | orderBy">
                    <input type="checkbox" ng-model="checkSize[size]"> {{size}}
                  </div>
                </ul>
              </div>
              </div>
                </section>
          
        </div>
        <div class="col-sm-9">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            
              <div class="card h-100" ng-repeat="f in list | filter:application">
                  <img src="image/products/{{f.Id.slice(0,4)}}{{f.Name}}.jpg" class="card-img-top" alt="...">
                  <div class="card-body ">
                    <h5 class="card-title">{{f.Name}} </h5>
                    <p class="card-text">{{f.Size}}</p>
                    <p class="card-text">$ {{f.Price}} /&#13217</p>
                  </div>
                  <div class="card-footer ">
                    <small class="">Last updated 3 mins ago</small>
                  </div>
                </div>
        
          </div>  
        </div>
      </div>
    </div>
</div>