
body{
  padding: 5px;
}

.bg-primary{
    background-color: #DFF6FF !important;
  }

.nav-link{
    color: black;
    font-weight: bold;
  }
/* .nav-tabs{
  background-color: #00A1AB;
} */

.btn{
  background-color:#FFE9AE ;
  color: black;
 }
 h1{

  font-size: small;
 }
 @media all {
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
   }
div img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
   }